*
!package.json
!package-lock.json
!pnpm-workspace.yaml
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
!vite.config.ts
!index.html
!embed.html
!env.d.ts
!public/
!public/**
!src/
!src/**
!packages/
!packages/**
!nginx.conf
!docker-entrypoint.sh
